div.header
    div.container
        div.button-menu_icon    
            <i class="fa fa-bars" aria-hidden="true"></i>
        div.crios-logo
            a(href="#") CRIOS 
            br
            span FREE PSD TEAMPLATE
        div.button-search  
            <i class="fa fa-search" aria-hidden="true"></i>
    div.text
        div.text1
            p Simple PSD template with cool stuff
        div.text2
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    div.slide-bar
        div.exlore-template
            button.btn-explore EXPLORE TEMPLATE

        
